@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Poppins:wght@300;400;500;600;700&family=Grey+Qo&family=Parisienne&family=Roboto:wght@300;400&family=Ubuntu:wght@400;500;700&display=swap');

$dark: #000;
$darker: #122d36;
$blueDark: #0f272f;
$orange: #e18b75;
$gray: #8a9892;
$lighter: #eff3f1;
$light: #fff;

*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: $darker;
    font-weight: 300;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    position: relative;
    background-color: $light;
    height: 100vh;
}

body::-webkit-scrollbar {
    background: none;
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background: $darker;
    border-radius: 10px;
}